.product_table {
    border: 1px solid #000000;
    border-spacing: 0px;
}

.product_table th {
    background-color: #a52a2a;
    color: white;
    font-weight: bolder;
}

.product_table td{
    border-left: 1px solid #555555;
    border-bottom: 1px solid #555555;
}

.product_table tfoot{
    background-color:#f5deb3;
}

.text-center{text-align: center;}
.text-right{text-align: right;}

.center{
    margin-left:auto;
    margin-right:auto;
}